*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  font-family: sans-serif;
}
body{
  /* background-image:  url("./assets/images/space.jpg"); */
  background-color: black;
  perspective: 100rem;
  width: 100vw;
  /* height: 100vh; */
  /* overflow: hidden; */
  overflow-x: hidden;
}


